
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
    <script type="text/javascript" src="@Url.Content("~/js/jquery-validation-1.15.0/lib/jquery-1.11.1.js")"></script>

    <script type="text/javascript">
        //调用js登陆方法验证用户名，和密码 如果通过，条页面！
        function login() {
            //获取用户名和密码

            var username = $("#username").val();
            var password = $("#password").val();        

            //验证用户名不为空
            if (username == "" || null) {
                alert("提示请输入用户名");
                return;
            }
            //验证密码不为空
            else if (password == "" || null) {
                alert("提示:请输密码");
                return;
            } else {
                $.ajax({
                    url: "/Admin/LoginCheck",
                    data: { username: username, password: password },   //传入的数据
                    type: "POST",                                      //返回的类型                           
                    dataType: 'text',
                    success: function (data) {                         //接收返回的数据 判断 成功则跳页面，失败则返回
                        if (data == "OK") {                           
                            window.location.href = "/Admin/Main";//你可以跟换里面的网址，以便成功后跳转
                            
                        } else if (data == "error") {
                            alert( "提示:用户名或密码不正确，请您重新输入！", "info");
                          
                        } else {
                            alert("输入异常，请重新输入！");
                        }
                    },
                    error: function () { alert("输入异常，请重新输入！2") }, //错误提示

                });
             
            }

        }

    </script>

</head>

<body>
    <div class="container" style="margin-top:30px;">
        <h1>登录</h1>
        <input type="text" placeholder="输入管理员名" id="username" /> <br />
        <input type="password" placeholder="输入密码" id="password" /> <br />
        <input name="submit" type="button" value="登录" onclick="login()" />       
    </div>
</body>

</html>
